/* GRID */



/* /GRID */

/* NAVBAR */

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #93003C;
    margin: -8px;
    padding: 10px;
    overflow: hidden;
}

.titleCompany {
    font-size : 40px;
    margin: 0 20vw 0 20vw;
    text-align: center;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

/* /NAVBAR */

.tableArea {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 100vw;
    cursor: default;
    overflow: hidden;
}

.tableSkeleton {
    width: 100%;
    min-width: 320px;
    max-width: 940px;
    margin: 2vh 5vw 0 28vw;
    border: 2px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 14%), 
        0 3px 4px 0 rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    margin-bottom: 2px;
}

.tableHead {
    font-weight: 700;
}

.tableBody > tr {
    height: 25px;
}

.actionProd {
    width: 79vw;
}

.inserir {
    margin: 0vh 23vw 0 20vw;
    text-align: right;
}

.btnInserir {
    width: 60px;
    border-radius: 80px;
    background-color: #93003C;
    color: #ffffff;
    border: none;
}

.delete {
    color: #93003C;
}

.edit {
    color: #05563E;
}
